<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doheum.board.BoardMapper">
	<select id="getBoardList" resultType="BoardVO">
	    SELECT * FROM t_board ORDER BY grp DESC, seq ASC
	</select>
	
	<select id="getBoardDetail" resultType="BoardVO" parameterType="BoardVO">
	    SELECT * FROM t_board WHERE i_board = #{i_board}
	</select>
		
	<select id="getBoardPk" resultType="int">
		    SELECT seq_board.nextVal FROM DUAL
 	</select>
 	
	<select id="getPrevIboard" parameterType="BoardVO" resultType="Integer">
	    SELECT nvl(min(i_board), 0) FROM t_board 
		WHERE i_board  <![CDATA[ >  ]]> #{i_board} and seq = 0
	</select>
	
	<select id="getNextIboard" parameterType="BoardVO" resultType="Integer">
	     SELECT nvl(max(i_board), 0) FROM t_board 
		WHERE i_board  <![CDATA[ <  ]]> #{i_board} and seq = 0
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">	
	    INSERT INTO t_board
	    (i_board, grp, seq, floor, t_title, t_content)
	    VALUES
	    (#{i_board}, #{grp}, #{seq}, #{floor}, #{t_title}, #{t_content}) 
	</insert>
	
	<update id="updBoardSeq" parameterType="BoardVO">
	    UPDATE t_board
		SET seq = seq + 1 
		WHERE grp = #{grp}
		and seq >= #{seq}
	</update>
	
	<update id="updBoardCnt" parameterType="BoardVO">
	    UPDATE t_board
	    SET cnt = cnt + 1
	    , ip_addr = #{ip_addr}
	    WHERE i_board = #{i_board}
	    AND (ip_addr is null OR ip_addr != #{ip_addr})	    
	</update>
	
</mapper>
